<li><a href="<%- url_for("/guide/") %>" class="nav-link<%- page.path.match(/guide\//) ? ' current' : '' %>">Manual</a></li>
<li><a href="<%- url_for("/examples/") %>" class="nav-link<%- page.path.match(/examples/) ? ' current' : '' %>">Examples</a></li>
<li><a href="<%- url_for("/release_notes/") %>" class="nav-link<%- page.path.match(/release_notes/) ? ' current' : '' %>">Release Notes</a></li>
<li><a href="/" class="nav-link">Home</a></li>